.wrapper {
  background-color: black;
  color: green;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--color-white);
  width: 100%;
  /* border: 2px solid red; */
  /* padding-top: 53px; */
  padding: 20px 0 30px 0;
}
.logo {
  cursor: pointer;
}
.navbar {
  display: flex;
  gap: 2rem;
}
.navlink {
  font-weight: 400;
  cursor: pointer;
  color: #dfdfdf;

}

.contactbtn {
  padding: 10px 20px;
  border: 2px solid var(--color-white);
  cursor: pointer;
}
