:root {
  --color-black: #1b1b1b;
  --color-white: #ffffff;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background-color: var(--color-black);
  color: var(--color-white);
}
